* {
    --primaryColor: #33D1FF;
    --primaryColor60: rgba(51, 209, 255, 0.5);
    --secondaryColor: #26FF71;
    --tertiaryColor: #265AFF;
    --black100: #0E262D;
    --black75: rgba(14, 38, 45, 0.75);
    padding: 0;
    margin: 0;
    font-family: basicFont, sans-serif;
    color: var(--black100);
}

@font-face {
    font-family: basicFont, sans-serif;
    src: url("../static/Bw Modelica/otf/BwModelica-Black.otf");
}

@font-face {
    font-family: basicFontBold, sans-serif;
    src: url("../static/Bw Modelica/otf/BwModelica-Bold.otf");
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(20deg, var(--primaryColor), var(--secondaryColor));
    background-size: 300% 100%;
    animation: gradientMovement 20s ease infinite;
    -moz-animation: gradientMovement 20s ease infinite;
    -webkit-animation: gradientMovement 20s ease infinite;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem min(1.5rem, 10%) .5rem min(5%, .5rem);
}

.logo {
    height: 2.5em;
    width: 4em;
}

.connection-field {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.connect-btn {
    height: 2rem;
    width: min(100%, 8rem);
    min-width: 3.5rem;
    font-size: small;
}

.input-field {
    border: 1px solid var(--black75);
    border-radius: 5px;
    background-color: transparent;
}

.content {
    padding-inline: 5%;
    padding-top: min(7%, 3rem);
}

.motto-container {
    max-width: 600px;
}

.motto {
    font-size: min(7vw, 45px);
    padding-bottom: min(3rem, 5%);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

.small-btn {
    width: 45%;
}

.medium-btn {
    width: 100%;
}

.big-btn {
    width: 100%;
}

.label {
    font-size: min(2.5vw, 90%);
}

.form-input {
    margin-bottom: 1.5rem;
    height: 3rem;
    min-width: 100%;
    text-align: center;
}

::placeholder {
    margin-inline: auto;
    color: var(--black75);
}

::-webkit-input-placeholder {
    margin-inline: auto;
    color: var(--black75);
}

#file-input::file-selector-button {
    display: none;
}

#file-input::-webkit-textfield-decoration-container {
    margin-inline: auto;
}

#file-input {
    line-height: 50px;
}

.info-text {
    margin-bottom: 1rem;
    max-font-size: 3vh;
    margin-top: 10vh;
}


.title {
    text-align: center;
    font-size: min(10vw, 80px);
    padding-bottom: min(5vh, 20%);
    padding-top: 0;
}

#username, #pw {
    margin-bottom: 3rem !important;
}

.log-label {
    font-size: min(4vw, 100%)
}

.sign-btn {
    width: 50vw;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    height: 3rem;
    text-align: center;
}

.sign-label {
    margin-top: 1vh;
    font-size: min(3vw, 80%);
    margin-inline: auto;
}

.sign-btn-big {
    width: min(100%, 800px);
}

.sign-btn-small {
    width: min(50%, 300px);
    font-size: large;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    text-underline: none;
}

@media (min-width: 800px) {
    .logo {
        height: 4em;
        width: 7em;
    }

    .form-input {
        height: 4rem;
    }

    #file-input {
        line-height: 65px;
    }

    .connect-btn {
        height: 3rem;
        width: 10rem;
        min-width: 3.5rem;
        font-size: medium;
    }

    .form {
        gap: 5%;
        justify-content: center;
    }

    .small-btn {
        width: 25%;
    }

    .medium-btn {
        width: 40%;
    }

    .big-btn {
        width: 70%;
    }

    .form-input {
        margin-bottom: 5vh;
        font-size: large;
    }
}

@keyframes gradientMovement {
    0% {
        background-position: 0 60%;
    }

    50% {
        background-position: 100% 60%;
    }

    100% {
        background-position: 0 60%;
    }
}

@-moz-keyframes gradientMovement {
    0% {
        background-position: 0 60%;
    }

    50% {
        background-position: 100% 60%;
    }

    100% {
        background-position: 0 60%;
    }
}

@-webkit-keyframes gradientMovement {
    0% {
        background-position: 0 60%;
    }

    50% {
        background-position: 100% 60%;
    }

    100% {
        background-position: 0 60%;
    }
}