<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online encryption</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/logo1-black.png" alt="Online encryption">
        <div class="connection-field">
            {% if not "idt" in session %}
                <a href="/sign_in">
                    <button type="button" class="input-field connect-btn">Sign in</button>
                </a>
                <a href="/sign_up">
                    <button type="button" class="input-field connect-btn">Sign up</button>
                </a>
            {% else %}
                <a href="/log_out">
                    <button type="button" class="input-field connect-btn">Log out</button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <div id="popup" class="popup" {% if session['dont_ask'] or not show %}  {% endif %}>
            <form class="popup-form" action="http://127.0.0.1:5000/add-key" method="POST">
                <h2 id="popup-title">Do you want to save this key ?</h2>
                <label for="key-name">key name: </label>
                <input type="text" id="key-name" name="key-name">
                <div class="block">
                    <div class="popup-field">
                        <button onclick="hidePopup()" class="popup-btn" type="submit">save</button>
                    </div>
                    <a href="/dont-save" class="popup-field">
                        <button onclick="hidePopup()" class="popup-btn" type="button">don't save</button>
                    </a>
                    <a href="/stop-ask" class="popup-field">
                        <button onclick="hidePopup()" class="popup-btn" type="button">stop asking</button>
                    </a>
                </div>
            </form>
        </div>
        <div class="motto-container">
            <div class="motto">Protect all your documents, and for free !</div>
        </div>

        <form method="POST" class="form" enctype="multipart/form-data" action="http://127.0.0.1:5000/upload">

            <div class="big-btn">
                <div {% if not is_filled %} class="animation" {% endif %}>
                    <label class="label" for="file-input">1st step: select a file or a folder</label>
                    <input onchange="appear('action-field')" type="file" class="input-field form-input" id="file-input" name="file" accept="text/plain" required>
                </div>
            </div>

            <div class="small-btn">
                <div id="action-field" {% if not is_filled %} class="hidden" {% endif %}>
                    <label class="label" for="action-input">2nd step: select the action</label>
                    <select onchange="appear('method-field')" id="action-input" class="input-field form-input" name="action" required>
                        <option value="none" disabled selected> -- </option>
                        <option value="encrypt">Encrypt</option>
                        <option value="decrypt">Decrypt</option>
                    </select>
                </div>
            </div>

            <div class="small-btn">
                <div id="method-field" {% if not is_filled %} class="hidden" {% endif %}>
                    <label class="label"  for="method-input">3rd step: select the method</label>
                    <select onchange="appear('key-field')" id="method-input" class="input-field form-input" name="method" required>
                        <option value="invalid" disabled selected> -- </option>
                        <option value="aes128">AES 128</option>
                        <option value="caesar">Caesar</option>
                        <option value="vigenere">Vigenère</option>
                    </select>
                </div>
            </div>

            <div class="medium-btn">
                <div id="key-field" class="{% if not is_filled %}hidden{% else %}animation{% endif %}">
                    <label class="label" for="key-input">4th step: enter a key
                        {% if not "idt" in session %}
                         or
                        {% else %}
                        , 
                        {% endif %}
                        <a onclick="generate_key()" style="color: blue">generate one</a>
                        {% if "idt" in session %}
                        or
                        <a onclick="appearSavedKeys()" id="show_saved_keys1" style="color: blue"> select a saved one</a>
                        {% endif %}
                    </label>

                    <input onchange="appear('submit-field')" type="text" id="key-input" class="input-field form-input"
                           placeholder="type your key here" name="key">
                </div>

                <div id="saved-keys" class="disappear">
                    <label class="label" for="select-saved-keys">4th step: select a key or
                        <a onclick="appearSavedKeys()" style="color: blue">  type one</a>
                    </label>

                    <select name="saved-key" id="select-saved-keys" class="input-field form-input" onchange="appear('submit-field')">
                        <option value="invalid" selected disabled>--</option>
                        {% for key in keys %}
                        <option value="{{key[1]}}">{{key[0]}}</option>
                        {% endfor %}}
                    </select>
                </div>

                {% if "keyError" in error_messages %}
                    <p class="error">Error: key invalid</p>
                {% endif %}
            </div>

            <div class="small-btn">
                <div id="submit-field" {% if not is_filled %} class="hidden" {% endif %}>
                    <label for="submit" class="label">Last step: submit</label>
                    <input onclick="appear('download-field'); showPopup()" type="submit" value="Confirm" id="submit"
                           class="input-field form-input">
                </div>
            </div>

            <div id="download-field" class="small-btn {% if not is_filled %}hidden{% endif %}"  >
                <a href="/download" style="text-decoration: none">
                    <label for="download" class="label">It's done !</label>
                    <input type="button" value="Download" id="download" class="input-field form-input">
                </a>
            </div>
        </form>

        <div class="end">
            <p class="info-text">For more information, take a look at our
                <a href="/information_page" style="color: blue; text-decoration: none">information page</a>
            </p>
        </div>
    </div>
    <script src="../static/generate_key.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>