<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/logo1-black.png" alt="Online encryption">
    </div>

    <div class="content">
        <div class="title">Sign in</div>

        <form method="post" class="form" action="#">
            <div class="sign-btn-big">
                <label for="username" class="log-label">Username</label>
                <input id="username" type="text" class="input-field form-input" placeholder="type your username here"
                       name="id" required>
            </div>

            <div class="sign-btn-big">
                <label for="pw" class="log-label">Password</label>
                <input id="pw" type="password" class="input-field form-input" placeholder="type your password here"
                       name="pw" required>
            </div>

            <div class="column">
                <input type="submit" id="sign in" class="input-field sign-btn sign-btn-small" value="Sign in">

                <label for="sign up" class="sign-label">or if you don’t already have one :</label>
                <a href="/sign_up" class="input-field sign-btn sign-btn-small">
                    <input type="button" class="input-field sign-btn sign-btn-small" id="sign up" value="Sign up"
                           style="border: none">
            </a>
            </div>
        </form>

        <div class="end">
            <p class="info-text">Why should you have an account ? Creating an account is
                fast and easy, and it allows you to save all your passwords,
                so you don’t have to remind them.<a href="/information_page"> More information here.</a></p>
        </div>
    </div>


</body>
</html>